body{
    background-color: #ebeff5;
      }
         #total-orders{
        background-color: #1C4E80;
        }
   #orders-delivered{
        background-color: #1F3F49
              }
    #orders-pending{
        background-color: #20283E;
       }
    #logo {
    width: 10%;
  }
  .nav-logo img {
        width: 10%;
    }