{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}
<br>
<div class="row">
        <div class="col-md-5 mt-3">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a href="" class="btn btn-info btn-sm btn-block">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th>Customer info</th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </tr>
                    {% for customer in customers %}
                         <tr>
                            <td><a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-success">View</a></td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
        <div class="col-md-7 mt-3">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
                <a href="{% url 'create_order' %}" class="btn btn-info btn-sm btn-block">Create Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Date Order</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                       <td>{{order.date_created}}</td>
                       <td>{{order.product}}</td>
                       <td>{{order.product.price}}$</td>
                       <td>{{order.status}}</td>
                       <td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-success">Update</a></td>
                       <td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>
{% endblock %}
